body {
   background: white;
}

.about_kayla {
    font-size: 30px;
    color: #5f0f40;
    font-family: sans-serif;
    text-decoration-line: underline;
}
.emojis {
    font-size: 2rem;
}

.about_me {
    font-size: 1rem;
}

.contact {
    font-weight: bold;
    font-size: 1.2rem;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: #0f4c5c;
    color: white;
    font-family: Helvetica;
}